
<div class="container textWish" *ngIf="check()==true">
    <h2 class="title">
      <span class="title-word title-word-1">Add </span>
      <span class="title-word title-word-2">Items </span>
      <span class="title-word title-word-3">In </span>
      <span class="title-word title-word-4">Your </span>
      <span class="title-word title-word-5">WishList...</span>
    </h2>
  </div>



<div class="container " *ngIf="check()== false">
    <h2 class="text">
      <span class="title-word title-word-1">Your </span>
      <span class="title-word title-word-2">WishList 🩷🩷🩷 </span>
    </h2>
</div>


<div class="row row-cols-4  g-5 mt-5" *ngIf="check()== false">
    <div class="col" *ngFor="let item of wishList">
      <div class = "card">
        <img [src]="item.image_url" [alt]="item.title">
        <div class="card-content">

          <h2>
           {{item.title.split(" ").slice(0,3).join(" ")}}
          </h2>
          <p>
            <i [style.color]="(item.social_rank/10)/2 >= num?'yellow':'none'" *ngFor="let num of [1,2,3,4,5]" class="fa-solid fa-star"></i>
          </p>
          <h6> {{ (item.social_rank/0.7).toString().slice(5,8) | currency:'  ' }} EGP</h6>

            <button class="btn cartbtn" (click)="addCart(item)" >Add To Cart</button>
            <button class="heart btn" style="color: red;" (click)="deleteWishList(item.recipe_id)"><i class="fa-solid fa-heart"></i></button>


        </div>
      </div>
    </div>
</div>
<button class=" delete" *ngIf="check()== false" (click)="deleteWishListAll()">Delete All</button>
